@import url('https://fonts.googleapis.com/css?family=Heebo|Cabin|Exo+2|Space+Grotesk|Varela+Round:regular,bold,italic&subset=latin,latin-ext');

.Apple{
  overflow: hidden;
}

.alt1{
 background-color: azure; 
}

.alt2{
  background-color: #567ece; 
  color: white;
 }

 .navstyle {
  background-color: #3d5a80 !important;
  color:white !important;
 }

 .tertiary {
  text-decoration: none;
  color: white !important;
  font-family: Heebo;
 }

 .primary-text {
  font-family: Varela Round;
 }

 .secondary-text {
  font-family: Heebo;
 }

 .navbar .navbar-nav .nav-link{
  font-size: 20px;
 }

 .navbar .navbar-nav .nav-link:hover{
  background-color: #567ece;
 }

 .link {
  text-decoration: none;
  color: white;
 }

 .link:hover {
  background-color: #567ece;
 }

